.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Ensure full width */
  padding-top: 20px; /* Add some spacing at the top */
}

.form1 {
  max-width: 500px; /* Adjusted for a bit more room */
  margin: 20px auto; /* Increase margin for better spacing */
  padding: 40px; /* More padding for a spacious look */
  background-color: #fff; /* Set background to white */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow for depth */
  border-radius: 8px; /* Rounded corners for a modern look */
  width: 40%;
}

.label {
  display: block;
  margin-bottom: 15px; /* Increase spacing for better readability */
  color: #333; /* Darker text for better contrast */
  font-size: 16px; /* Slightly larger font size */
}

.input,
.select,
.textarea {
  width: calc(100% - 16px); /* Adjust width to fit container */
  padding: 12px; /* More padding for easier interaction */
  margin-bottom: 20px; /* More space between fields */
  border: 1px solid #ccc; /* Subtle border */
  border-radius: 4px; /* Matched border radius */
  box-sizing: border-box; /* Ensure padding doesn't affect width */
}

.form1 button {
    padding: 12px 30px;
    border: none;
    border-radius: 50px; /* Use a large value for border-radius to make it round */
    cursor: pointer;
    font-size: 1em;
    margin: 0 140px;
    background-color: #D2B48C; /* Light brown background */
    color: #fff; /* White text */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    margin-top: 10px;
}
.form1 button:hover {
  background-color: #A0522D; /* Slightly lighter brown for hover effect */
}

.errorLabel {
  color: red;
  font-size: 14px; /* Make error text slightly larger */
  margin: -10px 0 10px 0; /* Adjust margin to tighten space */
}

.title {
    text-align: center;
    color: #5D4037;
    margin-bottom: 20px; /* Add space below the title */
    font-family: 'Merriweather', serif;
    font-size: 50px;
}
