#new_book_button{
    padding: 8px 16px;
    background-color:#2196f3;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer ;
    
    }
.page{
    display : flex;
    flex-direction: column;
}

.mybookHeader{
    text-align: center;
    color: #5D4037;
    margin-bottom: 20px; /* Add space below the title */
    font-family: 'Merriweather', serif;
    font-size: 50px;
}
